.button {
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    @include shadow;
    color: #FFF;
    font-size: 16px;
    font-family: Roboto;
    cursor: pointer;
    @include shadow;
    border: none;

    &__principal {
        width: 218px;
        &:hover {
            opacity: 0.75;
            @include shadow($offset-x: 0, $offset-y: 4px,  $blur: 15px ,$color:rgba(0, 0, 0, 0.30));
        }
    }

    &__secondary{
        width: 166px;

        &:hover {
            opacity: 0.75;
            @include shadow($offset-x: 0, $offset-y: 4px,  $blur: 15px ,$color:rgba(0, 0, 0, 0.30));
        }
    }

}