.card__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 22px;
    width: 90%;
    position: relative;
}

.card {
    height: 251px;
    background-color: white;
    border-radius: 20px;
    @include shadow;


    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}


.card__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .card__title {
        margin-top: 10px;
        margin-bottom: 0;
    }

    p{
        margin-top:  5px;
        font-size: 17px;
        font-weight: 300;
    }
}
// creation du coeur 
.like {
    width: 22px;
    height: 22px;
    margin-top: 20px;

    &__heart {
        font-size: 22px;
        font-weight: 400;
// remplissage du coeur en degrader  de couleur
        &:hover {
            -webkit-background-clip: text;
            font-weight: 700;
            background-image: linear-gradient($primary-color, $secondary-color);
            -webkit-text-fill-color: transparent;
            
        }


    }
}

.card__new {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 29px;
    color: #008766;
    background-color: #99E2D0;
    @include flex-center;
    border-radius: 2px;
}