.form {
    @include flex-center;
    background-color: #EAEAEA;
    height: 50px;

    input {
        text-align: center;
        border: none;
        background-color: #EAEAEA;
        height: 45px;
    }
}