.menu__cards {
    width: 90%;
    height: 69px;
    border-radius: 15px;
    @include shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.menu__prices {

p {
   margin-top: 32px;
}

}


.card__title {
    margin-top: 12px;
    margin-bottom: 5px;
}

.card__title + p {
    margin-top: 0;
    margin-bottom: 12px;
}