body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
}

button {
  font-weight: 500;
  font-size: 16px;
}

h1 + p {
  font-size: 18px;
  font-weight: 300;
}

::-moz-placeholder {
  font-size: 16px;
  color: #353535;
}

::placeholder {
  font-size: 16px;
  color: #353535;
}

.button {
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #FFF;
}
.button__principal {
  width: 218px;
}
.button:hover {
  background: linear-gradient(193.33deg, rgba(147, 86, 220, 0.8) -11.44%, rgba(255, 121, 218, 0.8) 123.93%);
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.functioning__items {
  background-color: #F7F7F7;
  width: 86%;
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  position: relative;
  padding-left: 10px;
}

.functioning__step {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.functioning__icons {
  color: #7E7E7E;
}
.functioning__icons--purple {
  color: #9356DC;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}
.form input {
  text-align: center;
  border: none;
  background-color: #EAEAEA;
  height: 45px;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 22px;
  width: 90%;
  position: relative;
}

.card {
  height: 251px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.card__content {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card__txt .card__title {
  margin-top: 10px;
  margin-bottom: 0;
}
.card__txt p {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}

.like {
  width: 22px;
  height: 22px;
  margin-top: 20px;
}
.like__heart {
  font-size: 22px;
  font-weight: 400;
}
.like__heart:hover {
  -webkit-background-clip: text;
  font-weight: 700;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}

.card__new {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.header {
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #353535;
}

.header__return {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 22px 25px;
}
.footer h3 {
  margin: 0;
  font-family: Shrikhand, cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer ul li {
  display: flex;
  gap: 15px;
}

#footer__icon {
  display: flex;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #F7F7F7;
  height: 287px;
}

.functioning {
  margin-bottom: 50px;
}
.functioning__title {
  margin-top: 48px;
  margin-bottom: 16px;
  margin-left: 40px;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.restaurants {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.restaurants h2 {
  padding-left: 5%;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */