* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #000;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
}
.button__principal {
  width: 218px;
}
.button__principal:hover {
  opacity: 0.75;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.button__secondary {
  width: 166px;
}
.button__secondary:hover {
  opacity: 0.75;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.menu__card {
  background-color: #fff;
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 12px 15px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-50px);
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.menu__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.menu__txt p {
  font-size: 15px;
  font-weight: 300;
}

.menu__price {
  display: flex;
  align-items: flex-end;
  transition: transform 0.5s ease-in-out;
}

.menu__check {
  width: 59px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -59px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-right 0.5s ease-in-out;
}
.menu__check i {
  background-color: #fff;
  padding: 2px 3px;
  border-radius: 50%;
  color: #99E2D0;
}

.menu__card:hover .menu__check {
  margin: 0;
}

.menu__card:hover .menu__price {
  transform: translateX(-59px);
}

.menu__card:nth-child(2) {
  animation-delay: 0.4s;
}

.menu__card:nth-child(3) {
  animation-delay: 0.9s;
}

.menu__card:nth-child(4) {
  animation-delay: 1.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.heart__container {
  width: 22px;
  height: 22px;
  position: absolute;
  font-size: 22px;
}
.heart__container i {
  position: absolute;
  transition: all 0.7s ease-in-out;
}
.heart__container:hover .heart__colored {
  opacity: 1;
}

.heart__home {
  right: 20px;
  bottom: 20px;
}

.heart__menu {
  right: -35px;
}

.heart__colored {
  opacity: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}

.form {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  padding-bottom: 57px;
}
.form__search-bar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.form__search {
  background-color: #EAEAEA;
  border: none;
  outline: none;
  text-align: center;
}
.form__search::-moz-placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
.form__search::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.header {
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 18px;
  left: 23px;
}
.arrow i {
  color: #000;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__heading {
  font-family: Shrikhand, cursive;
  font-weight: 400;
  font-size: 18px;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__item-1 {
  padding-right: 9px;
}
.footer__item-2 {
  padding-right: 3px;
}
.footer i {
  color: #fff;
}

footer a {
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.tuto {
  padding-bottom: 68px;
  padding-left: 20px;
  padding-right: 20px;
}
.tuto__heading {
  margin-top: 48px;
  margin-bottom: 26px;
}
.tuto__steps {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.tuto__card {
  display: flex;
  align-items: center;
  gap: 11px;
  counter-increment: selection;
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 73px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  counter-increment: selection;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
}
.tuto__card::before {
  content: counter(selection);
  position: relative;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: #FFF;
}

.fa-solid {
  color: #7E7E7E;
}

.colored-icon {
  color: #9356DC;
}

@media (min-width: 768px) {
  .tuto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tuto__steps {
    flex-direction: row;
    justify-content: flex-start;
  }
  .desktop-size {
    width: min(1090px, 100%);
  }
}
.card__container {
  height: 251px;
  position: relative;
}

.card {
  background-color: #fff;
  height: 251px;
  border-radius: 15px;
  position: relative;
}
.card img {
  width: 100%;
  height: 70%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 12px 15px;
}
.card__txt p {
  font-size: 17px;
  font-weight: 300;
  padding-top: 5px;
}

.sticker-new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #008766;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

h1 + p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 27px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 54px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurants__heading {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 28px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 66px;
}

@media (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
  .card__container {
    width: 45%;
  }
}
.restaurant__photo {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: -1;
}
.restaurant__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__menu {
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin-top: -50px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.restaurant__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

.restaurant__name {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand, cursives, serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.heart__menu {
  margin: 0;
  right: -35px;
}

.section-menu__title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 9px;
  width: 40px;
}

.starters,
.dishes,
.desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 93%;
}

@media (min-width: 768px) {
  .restaurant__menu {
    width: 73%;
    margin: -50px auto 0 auto;
  }
  .starters,
  .dishes,
  .desserts {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */