.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: #F7F7F7;
    height: 287px;
}


.functioning {
    margin-bottom: 50px;

    &__title {
        margin-top: 48px;
        margin-bottom: 16px;
        margin-left: 40px;

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;

    }
}


.restaurants {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

    
    h2 {
        padding-left: 5%;
    }


    &__cards {
        @include flex-center(column);
        gap: 20px;

    }
}