h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

h1 + p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 27px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.restaurants {
    background-color: #F6F6F6;
    padding-top: 54px;
    padding-left: 20px;
    padding-right: 20px;

    &__heading {
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 28px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-bottom: 66px;
    }
}

@media (min-width: 768px) {

    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .restaurants__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
    }

    .restaurant-link {
        width: 45%;
        
    }
}