.restaurant__photo {

    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        
    }

}

.restaurant__menu {
    width: 100%;
    height: 500px;
    background-color:#F7F7F7;
    border-top-right-radius:  50px;
    border-top-left-radius: 50px;
    position: absolute;
    top: 300px;

}

.restaurant__name {
    font-size: 28px;
    font-weight: 400;
    font-family: Shrikhand, cursives, serif;
    @include flex-center;
    padding-top: 0px;
}

.restaurant__title {
    @include flex-center;
    gap: 25px;
    margin-top: 32px;
}


.starters {
    margin-left: 12px;

    &__title {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 12px;
        margin-top: 0;

        &::after {
            content: '';
            display: block;
             border: 3px solid $tertiary-color;
             width: 40px;
             margin-top: 9px;
        }
    }
}

