// set the colors palette

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

// set ligthen varations

$primary-variation: rgba(147, 86, 220, 0.8);
$secondary-variation: rgba(255, 121, 218, 0.8);