.footer {
    background-color: #353535;
    color: #fff;
    padding: 22px 25px;

    &__menu {
        position: relative;
        top: 1135px;
    }

    h3 {
        margin: 0;
        font-family: Shrikhand, cursive;
        font-size: 18px;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;

        li {
            display: flex;
            gap: 15px;

        }
    }

}

#footer__icon {
    display: flex;
    gap: 10px;
}



// responsive for tablet &desktop 
@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        gap: 100px;

        ul {
             display: flex;
            flex-direction: row;
            gap: 15px;

        }
    }
}