.footer {
    background-color: #353535;
    padding: 22px 25px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__heading {
        font-family: Shrikhand, cursive;
        font-weight: 400;
        font-size: 18px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item-1 {
        padding-right: 9px;
    }

    &__item-2 {
        padding-right: 3px;
    }

    i {
        color: #fff;
    }
}

footer a {
    color: #fff;
}


@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;
        padding-top: 60px;
        padding-bottom: 30px;
        padding-right: 30px;

        &__list {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
    }
}

