.header {
    height: 63px;
    @include flex-center;
    @include shadow;
    position: relative;


    &__logo {
        height: 44px;
        @include flex-center
    }
}

// header for restaurants pages

.arrow {
    position: absolute;
    top: 18px;
    left: 23px;
    
    i {
        color: #000;
    } 
}
